# Chothani Jay (D22014)

# ANOVA

#### Generate 3 populations

In [69]:
import numpy as np

In [71]:
city = ['bang','mum','del','bang','mum','del','bang','mum','del']+['bang','mum','del','bang','mum','del','bang','mum','del']
institute = ['praxis','praxis','praxis','masai','masai','masai','great_learn','great_learn','great_learn']+['praxis','praxis','praxis','masai','masai','masai','great_learn','great_learn','great_learn']
fees = [4,7,5,8,1,6,2,2.5,4]+[8.2,4.2,4.1,5.1,6.1,4,1.5,3.5,2]

In [72]:
import pandas as pd

In [73]:
data = {'city':city,'institute' : institute , 'fees' : fees}

In [74]:
df = pd.DataFrame(data = data)

In [75]:
df

    city    institute  fees
0   bang       praxis   4.0
1    mum       praxis   7.0
2    del       praxis   5.0
3   bang        masai   8.0
4    mum        masai   1.0
5    del        masai   6.0
6   bang  great_learn   2.0
7    mum  great_learn   2.5
8    del  great_learn   4.0
9   bang       praxis   8.2
10   mum       praxis   4.2
11   del       praxis   4.1
12  bang        masai   5.1
13   mum        masai   6.1
14   del        masai   4.0
15  bang  great_learn   1.5
16   mum  great_learn   3.5
17   del  great_learn   2.0

In [80]:
gr_mean = np.mean(fees)
gr_mean

4.344444444444445

In [126]:
SST = np.sum((df.fees - gr_mean)**2)
SST

76.92444444444445

In [81]:
city_means = df.groupby([city]).mean()

In [82]:
mean_bang = city_means.loc['bang'][0]
mean_mum = city_means.loc['mum'][0]
mean_del = city_means.loc['del'][0]

4.8

In [85]:
institute_means = df.groupby([institute]).mean()
institute_means

                 fees
great_learn  2.583333
masai        5.033333
praxis       5.416667

In [86]:
mean_great = institute_means.loc['great_learn'][0]
mean_masai = institute_means.loc['masai'][0]
mean_praxis = institute_means.loc['praxis'][0]

2.5833333333333335

In [103]:
with_mean = df.groupby(['city','institute']).mean()
with_mean

                  fees
city institute
bang great_learn  1.75
     masai        6.55
     praxis       6.10
del  great_learn  3.00
     masai        5.00
     praxis       4.55
mum  great_learn  3.00
     masai        3.55
     praxis       5.60

In [106]:
with_mean.loc['bang','great_learn'][0]

1.75

In [107]:
# mean_bang_great = with_mean.loc['bang','great_learn'][0]
# mean_bang_masai = with_mean.loc['bang','masai'][0]
# mean_bang_praxis = with_mean.loc['bang','praxis'][0]
# mean_del_great = with_mean.loc['del','great_learn'][0]
# mean_del_masai = with_mean.loc['del','masai'][0]
# mean_del_praxis= with_mean.loc['del','praxis'][0]
# mean_mum_great= with_mean.loc['mum','great_learn'][0]
# mean_mum_masai = with_mean.loc['mum','masai'][0]
# mean_mum_praxis = with_mean.loc['mum','praxis'][0]

In [118]:
np.sum((df.loc[df.city=='bang'].loc[df.institute=='great_learn'].fees-mean_bang_great)**2)

0.125

In [122]:
list_city = list(df['city'].unique())
list_institute = list(df['institute'].unique())

['bang', 'mum', 'del']

In [129]:
SSW = 0
for i in list_city:
    for j in list_institute:
        mean = with_mean.loc[i,j][0]
        SSW += np.sum((df.loc[df.city==i].loc[df.institute==j].fees-mean)**2)

In [130]:
SSW

34.98

In [132]:
bang = list(df.loc[df.city=='bang'].fees)
mum = list(df.loc[df.city=='mum'].fees)
Del = list(df.loc[df.city=='del'].fees)

In [144]:
lis_city_val = [bang,mum,Del]

In [134]:
praxis = list(df.loc[df.institute=='praxis'].fees)
masai = list(df.loc[df.institute=='masai'].fees)
great_learn = list(df.loc[df.institute=='great_learn'].fees)

In [145]:
lis_loc_val = [praxis,masai, great_learn]

In [152]:
var_not_city=0
for i in lis_city_val:
    var_not_city += len(i)*((np.mean(i)-gr_mean)**2)

In [153]:
var_not_city

1.9211111111111103

In [154]:
var_not_loc = 0
for i in lis_loc_val:
    var_not_loc += len(i)*((np.mean(i)-gr_mean)**2)

In [155]:
var_not_loc

28.354444444444454

In [157]:
var_city_loc = SST-SSW-var_not_city-var_not_loc
var_city_loc

11.668888888888887

In [158]:
(SST,SSW,var_not_city,var_not_loc,var_city_loc)

(76.92444444444445,
 34.98,
 1.9211111111111103,
 28.354444444444454,
 11.668888888888887)

In [159]:
from scipy import stats

In [160]:
MS_city = var_not_city/(3-1)
MS_city

0.9605555555555552

In [161]:
MS_loc = var_not_loc/(3-1)
MS_loc

14.177222222222227

In [162]:
MS_city_loc = var_city_loc/((3-1)*(3-1))
MS_city_loc

2.9172222222222217

In [163]:
MS_with = SSW/(18-9)
MS_with

3.8866666666666663

In [166]:
MS_ALL = SST/(18-1)
MS_ALL

4.524967320261438

In [171]:
f_city = MS_city/MS_with
f_city

0.24714122355631782

In [175]:
fcrit_city = stats.f.isf(0.05,dfn=(3-1),dfd=(18-9))
fcrit_city

4.25649472909375

In [172]:
f_loc = MS_loc/MS_with
f_loc

3.6476558033161823

In [176]:
fcrit_loc = stats.f.isf(0.05,dfn=(3-1),dfd=(18-9))
fcrit_loc

4.25649472909375

In [173]:
f_city_loc = MS_city_loc/MS_with
f_city_loc

0.7505717552887363

In [177]:
fcrit_city_loc = stats.f.isf(0.05,dfn=(3-1)*(3-1),dfd=(18-9))
fcrit_city_loc

3.6330885114190794

In [187]:
stats.f.sf(f_city_loc,dfn=4,dfd=9),f_city_loc,fcrit_city_loc

(0.5819606272217828, 0.7505717552887363, 3.6330885114190794)

In [188]:
stats.f.sf(f_city,dfn=2,dfd=9),f_city,fcrit_city

(0.7861612413954701, 0.24714122355631782, 4.25649472909375)

In [189]:
stats.f.sf(f_loc,dfn=2,dfd=9),f_loc,fcrit_loc

(0.06915272191075512, 3.6476558033161823, 4.25649472909375)